<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Header</title>
</head>
<body>
  <header>
    <picture>
      <img src="" alt="cuevana logo">
    </picture>
    <nav>
      <ul>
        <li>
          <a href="#inicio">Inicio</a>
        </li>
        <li>
          <a href="#inicio">Géneros</a>
        </li>
        <li>
          <a href="#inicio">Películas</a>
        </li>
        <li>
          <a href="#inicio">Series</a>
        </li>
      </ul>
    </nav>
    <form>
      <label>
        <input type="text">
        <span><i class="fas fa-search"></i></span>
      </label>
    </form>
  </header>
</body>
</html>